* {
	margin: 0;
	padding: 0;
}

h1 {
	color: red;
}

.current {
	background-color: #000531;
	color: white;
}

.nav {
	list-style-type: none;
}

.nav > li {
	display: inline-block;
}

.nav-top {
	font-size: 1.5em;
}