article
	display: block
	width: 70%
	margin: auto
	margin-bottom: 30px
	font-weight: 400
	font-size: 17px

#home-link
	position: absolute
	top: 0
	width: auto
	margin-left: 15%
	padding: 15px 10px
	background-color: blue