.pages-nav
	font-size: 14px
	display: flex
	justify-content: space-between
	width: 100%
	position: absolute
	right: 0
	left: 0
	overflow: hidden
	background-color: #3a7d93

	a
		display: block
		width: auto
		margin: 0.5em 0
		margin-left: 15%
		padding: 5px
		text-align: center
		visibility: hidden
		font-weight: 700
		font-size: 1.2em
		color: #fff
	
	a.active
		visibility: visible

	.next
		text-align: right
		margin-left: 0
		margin-right: 15%

	#home
		margin-left: 0
		visibility: visible

.bottom-nav
	bottom: 0

.top-nav
	top: 0



